# dependencies
bower_components/
node_modules/
vendor/

# package manager files
npm-debug.log*
package-lock.json
yarn-error.log
yarn.lock

# development
.eslintcache
.stylelintcache
coverage/

# build
bin/

# project specific
*.sfv
!/test/**/*.sfv
*.sfvx
!/test/**/*.sfvx
test.js
test.ts
todo.md
*.mp4
